@charset "utf-8";

/* Variables */
:root {
  --mws-white: #fff;
  --mws-black: #000;
  --mws-lightgrey: lightgrey;
  --mws-body-bg: #fdfdfd;
  --mws-333: #333;
  --mws-666: #666;
  --mws-breadcrumb-hover: #01447e;
  --mws-nav-bg: #252831;
  --mws-a-clr: #0000a0;
  --mws-bg: #f3f3f3;
  --mws-map-bg: #ccc;
  --mws-default-clr: #800000;
  --mws-filter-bg: #3397db;
  --mws-cuisine-clr: #ddd;
  --mws-border-clr: #eee;
  --mws-footer-clr: #f5f5f5;
  --mws-footer-bg: #444;
  --mws-footer-link-clr: #e9e97c;
  --mws-rvw-border: #d9d9d9;
}

/* CSS Document */

img {
  width: 100%;
  max-width: 100%;
}

body,
td,
th,
p {
  font: 10pt/1.5 Arial, Helvetica, sans-serif;
	color: var(--mws-333);
}

body {
  position: relative;
	background-color: var(--mws-body-bg);
  margin: 0;
}

ul,
li {
  font: 10pt Arial, Helvetica, sans-serif;
	color: var(--mws-333);
}

a {
	color: var(--mws-default-clr);
	text-decoration: none;
}

a:hover,
a:focus {
	color: var(--mws-filter-bg);
	text-decoration: none;
}

a img{
	border: none 0px var(--mws-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

main {
  background-color: var(--mws-bg);
  min-height: 100%;
}

footer {
  background-color: var(--mws-footer-bg);
  color: var(--mws-footer-clr);
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

footer a {
  color: var(--mws-footer-link-clr);
}

/* ====================== Navigation ====================== */

nav {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: var(--mws-nav-bg);
  text-align: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: var(--mws-white);
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: var(--mws-border-clr);
  font-size: 17px;
  margin: 0;
  max-width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: var(--mws-black);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: var(--mws-a-clr);
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: var(--mws-breadcrumb-hover);
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  min-height: 50vw;
  width: 100%;
  max-width: 100%;
  background-color: var(--mws-map-bg);
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  background-color: var(--mws-filter-bg);
  text-align: center;
  box-sizing: border-box;
  border: 2px solid var(--mws-lightgrey);
}

.filter-options h2 {
  color: var(--mws-white);
  font: normal 1rem/1;
  margin: 0 20px;
}

.filter-options select {
  background-color: var(--mws-white);
  border: 1px solid var(--mws-white);
  font: 11pt Arial, sans-serif;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 35%;
  max-width: 200px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--mws-bg);
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}

#restaurants-list li {
  background-color: var(--mws-white);
  border: 2px solid var(--mws-map-bg);
  font-family: Arial, sans-serif;
  margin: 15px auto;
  min-height: 380px;
  padding-bottom: 25px;
  text-align: center;
  width: 90%;
}

#restaurants-list .restaurant-img {
  background-color: var(--mws-map-bg);
  display: block;
  margin: auto;
  min-height: 248px;
}

#restaurant-img {
  display: block;
}

#restaurant-img,
#restaurant-cuisine,
#restaurant-address,
#restaurant-hours {
  max-width: 600px;
  margin: auto;
}

#restaurants-list li h2 {
  color: var(--mws-default-clr);
  font: 200 14pt/1.3 Arial, sans-serif;
  letter-spacing: 0;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: var(--mws-default-clr);
  border-bottom: 3px solid var(--mws-border-clr);
  color: var(--mws-white);
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: none none repeat scroll 0 0;
  width: 100%;
}

.inside #map {
  background-color: var(--mws-map-bg);
  min-height: 50vw;
  width: 100%;
}

#restaurant-name {
  color: var(--mws-default-clr);
  font: 200 20pt/1.1 Arial,sans-serif;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
}

#restaurant-address {
  font-size: 12pt;
  text-align: center;
}

#restaurant-cuisine {
  background-color: var(--mws-333);
  color: var(--mws-cuisine-clr);
  font: 300 12pt;
  letter-spacing: 10px;
  margin-bottom: 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid var(--mws-rvw-border);
  border-top: 1px solid var(--mws-white);
  padding: 40px;
}

#reviews-container h2 {
  color: var(--mws-default-clr);
  font-size: 300 24pt;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: var(--mws-white);
  border: 2px solid var(--mws-bg);
  display: block;
  list-style-type: none;
  overflow: hidden;
  padding: 10px;
  position: relative;
}

#reviews-list li p {
  margin: 0 0 10px;
}

.name-and-favorite {
  display: grid;
  grid-template-columns: auto 56px;
}

.name-and-menu {
  display: grid;
  grid-template-columns: auto 10px;
}

.favorite-toogle {
  color: var(--mws-default-clr)!important;
}

.name-and-favorite button {
  font-size: 32px;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--mws-lightgrey);
}

.name-and-menu label {
  font-size: 24px;
  cursor: pointer;
}

.name-and-menu input {
  display: none;
}

.name-and-menu input:checked ~ .menu-options {
  opacity: 1;
  pointer-events: all;
}

.name-and-menu input:not(:checked) ~ .menu-options {
  opacity: 0;
  pointer-events: none;
}

.menu-options {
  background: var(--mws-cuisine-clr);
  padding: 5px;
  position: absolute;
  right: 32px;
  top: 5px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.menu-options button {
  color: var(--mws-default-clr);
  margin: 4px 0;
  padding: 5px 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.menu-options button:hover {
  background: var(--mws-default-clr);
  color: var(--mws-white);
}

#restaurant-hours {
  margin: auto;
}

#restaurant-hours td {
  color: var(--mws-666);
}

/* Review form */
form#review-form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 0.6rem;
  align-items: center;
}

#review-form h3 {
  color: var(--mws-default-clr);
  grid-column: span 2;
  text-align: center;
}

#review-form label {
  font-weight: 700;
  text-align: right;
}

.rating-container {
  display: flex;
  align-items: center;
}

.stars-outer {
  font-size: 24px;
  position: relative;
  display: inline-block;
  /* width: fit-content; */
  margin-right: .6rem;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-outer::before {
  content: '★ ★ ★ ★ ★';
  color: var(--mws-lightgrey);
}

.stars-inner::before {
  content: '★ ★ ★ ★ ★';
  color: var(--mws-default-clr);
}

#review-form button[type="submit"] {
  grid-column: 2/3;
  background: var(--mws-default-clr);
  color: var(--mws-bg);
  padding: 10px 0;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/* #review-form button[type="submit"]:hover {
  color: var(--mws-default-clr);
  background: var(--mws-bg);
} */

/* ====================== Screens of size >= 769px  ====================== */

@media screen and (min-width: 769px) {

  #restaurants-list,
  #reviews-list {
    grid-template-columns: repeat(2, 1fr);
  }

  #map,
  .inside #map {
    min-height: 30vw;
  }

}

/* ====================== Screens of size >= 1280px  ====================== */

@media screen and (min-width: 1280px) {

  #restaurants-list,
  #reviews-list {
    grid-template-columns: repeat(3, 1fr);
  }

}

/* ====================== Screens of size >= 1600px  ====================== */

@media screen and (min-width: 1600px) {
  
  #maincontent {
    width: 1600px;
    margin: auto;
  }

}
